<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.piston">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Piston"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:screenOrientation="sensorPortrait">

        <activity android:name=".views.others.NotificationsActivity"/>
        <activity android:name=".views.others.SettingsActivity"/>

        <activity android:name=".views.posts.CreatePostActivity"/>
        <activity android:name=".views.posts.EditPostActivity"/>
        <activity android:name=".views.posts.ReplyPostActivity"/>
        <activity android:name=".views.global.ViewPostsCategoryActivity"/>

        <activity android:name=".views.global.CreateCategoryActivity"/>
        <activity android:name=".views.group.CreateGroupActivity"/>
        <activity android:name=".views.group.ModerateGroupActivity"/>
        <activity android:name=".views.personal.CreateFolderActivity"/>

        <activity android:name=".views.main.MainActivity"/>

        <activity android:name=".views.user.LoginActivity"/>
        <activity android:name=".views.user.RegisterActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".views.user.ViewProfileActivity"/>
        <activity android:name=".views.user.ProfileImageActivity"/>

        <activity android:name=".views.LaunchActivity"
            android:theme="@style/Theme.Piston.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>