<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.piston">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Piston"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:screenOrientation="sensorPortrait">

        <activity android:name=".view.others.NotificationsActivity"/>
        <activity android:name=".view.others.SettingsActivity"/>

        <activity android:name=".view.posts.CreatePostActivity"/>
        <activity android:name=".view.posts.EditPostActivity"/>
        <activity android:name=".view.posts.ReplyPostActivity"/>
        <activity android:name=".view.posts.ViewPostsActivity"/>

        <activity android:name=".view.sections.global.CreateCategoryActivity"/>

        <activity android:name=".view.sections.group.CreateGroupActivity"/>
        <activity android:name=".view.sections.group.ModerateGroupActivity"/>

        <activity android:name=".view.sections.personal.CreateFolderActivity"/>

        <activity android:name=".view.user.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".view.user.RegisterActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".view.user.ViewProfileActivity"/>

        <activity android:name=".view.MainActivity"/>

    </application>

</manifest>